table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

.title, .page{
    width: 20%;
    border: 1px solid;
}

.des{
    width: 60%;
    border: 1px solid;
}

td{
    border: 1px solid;
}

.zpad{
    padding: 0px;
}

.remButton{
    background-color: #a69c8e;
    width: 75.8px;
    font-size: 15px;
    border: none;
    padding: 5px;
    float: right;
}

.editButton,
.tadaButton{
    background-color: #a69c8e;
    width: 75.8px;
    padding: 5px;
    font-size: 15px;
    border: none;
}

.editButton:hover,
.tadaButton:hover{
    cursor: pointer;
    background-color: #3e8e41;
}

.editButton:active,
.tadaButton:active{
    background-color: #5c8e60;
}